 body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    #qrCodeCanvas {
      border: 13px solid #333;
      margin-top: 13px;
    }

    #text {
      padding: 6px;
      margin-top: 13px;
    }

    button {
      padding: 8px 13px;
      margin-top: 13px;
      background-color: #4CAF50;
      color: blue;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    button:hover {
      background-color: #45a049;
    }
